<html>
<head>
<title>设置</title>
</head>
<body>
<div align="center">
<p style="font-size:30px"><a href="/">主页</a></p>
<form action="/setting{% if not setting_self %}/{{ usr | safe }}{% endif %}{% if redirect_url %}?redirect_url={{ redirect_url | safe }}{% endif %}" method="post">
<p style="font-size:30px">帐号</p>
<p style="font-size:30px">
用户名: {{ usr }}
</p>
<legend style="font-size:30px">密码(不要和用户名相同，否则无法处理任务):</legend>
<p><input type="text" style="font-size:30px" name="passwd" value="{{ passwd }}" /></p>
{% if in_root_mode %}
{% if serv_usr != usr %}
<p style="font-size:30px">
服务器用户名:{{ serv_usr }}
</p>
{% endif %}
{% else %}
<legend style="font-size:30px">服务器用户名:</legend>
<p><input type="text" style="font-size:30px" name="serv_usr" value="{{ serv_usr }}" /></p>
{% endif %}
{% if setting_self %}
<legend style="font-size:30px">服务器密码:</legend>
<p><input type="text" style="font-size:30px" name="serv_passwd" value="{{ serv_passwd }}" /></p>
{% endif %}
{% if is_admin %}
<legend style="font-size:30px">优先级:</legend>
<p><input type="text" style="font-size:30px" name="priority" value="{{ priority }}" /></p>
{% else %}
<p style="font-size:30px">
优先级:{{ priority }}
</p>
{% endif %}
<p style="font-size:30px">任务模板</p>
<legend style="font-size:30px">工作路径:</legend>
<p><input type="text" style="font-size:30px" name="wkd" value="{{ wkd }}" /></p>
<legend style="font-size:30px">执行命令:</legend>
<p><input type="text" style="font-size:30px" name="cmd" value="{{ cmd }}" /></p>
<legend style="font-size:30px">标准输出文件 (/dev/null不保存):</legend>
<p><input type="text" style="font-size:30px" name="stdout" value="{{ stdout }}" /></p>
<legend style="font-size:30px">标准错误文件 (/dev/null不保存):</legend>
<p><input type="text" style="font-size:30px" name="stderr" value="{{ stderr }}" /></p>
<legend style="font-size:30px">显卡数量:</legend>
<p><input type="text" style="font-size:30px" name="ngpu" value="{{ ngpu }}" /></p>
<legend style="font-size:30px">显卡ID (None不做限制):</legend>
<p><input type="text" style="font-size:30px" name="force_gpuids" value="{{ force_gpuids }}" /></p>
<legend style="font-size:30px">传递设备ID (None不传):</legend>
<p><input type="text" style="font-size:30px" name="real_gpuid_args" value="{{ real_gpuid_args }}" /></p>
<legend style="font-size:30px">运行时长 (None不做限制):</legend>
<p><input type="text" style="font-size:30px" name="timeout" value="{{ timeout }}" /></p>
<legend style="font-size:30px">通知邮件:</legend>
<p><input type="text" style="font-size:30px" name="email" value="{{ email }}" /></p>
<legend style="font-size:30px">任务描述:</legend>
<p><textarea rows="3" cols="50" type="text" style="font-size:30px" name="desc">{{ desc }}</textarea></p>
<p><button type="submit" style="font-size:30px">保存</button></p>
</form>
{% if ret %}
<p>{{ ret }}</p>
{% endif %}</div>
</body>
</html>
